<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<form method="post" action="/new_post">
    <label>
        Заголовок поста <br>
        <input type="text" name="title">
        <br>
    </label>
    <label>
        Краткое содержание: <br>
        <textarea name="abstract"></textarea>
        <br>
    </label>
    <label>
        Сам пост <br>
        <textarea name="content"></textarea>
        <br>
    </label>
    <input type="submit" value="Отправить">
</form>
{% for entry in entries %}
    <a href='post/{{loop.index}}'>
        <h2>{{ entry.title }}</h2>
    </a>
    <p>{{ entry.abstract }}</p>
{% endfor %}
</body>
</html>