<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<body>
    <h2>{{ entry.title }}1}</h2>
    <p>{{ entry.abstract }}</p>
    <h4>{{ entry.content }}</h4>

</body>
</html>